$primary: hsl(25, 97%, 53%); // Orange

$neutral1: hsl(0, 0%, 100%); // White

$neutral1: hsl(217, 12%, 63%); // Light Grey
$neutral1: hsl(216, 12%, 54%); // Medium Grey

$neutral1: hsl(213, 19%, 18%); // Dark Blue
$neutral1: hsl(216, 12%, 8%); // Very Dark BLue