$primary: hsl(25, 97%, 53%); // Orange

$neutral1: hsl(0, 0%, 100%); // White

$neutral2: hsl(217, 12%, 63%); // Light Grey
$neutral3: hsl(216, 12%, 54%); // Medium Grey

$neutral4: hsl(213, 19%, 18%); // Dark Blue
$neutral5: hsl(216, 12%, 8%); // Very Dark BLue

$special: rgba(206, 206, 206, 0.068);